 ## Finding the Greatest Possible Combination

We have a function as such:

```f(x1, x2, x3) = (x1^2 + x2 * x3) modulo 20 ```

Given 3 list/array/vector containing possible values of x1, x2, and x3, find the maximum output possible. 

#### Explanation:

If x1 = 2, x2 = 5, x3 = 3, then...

The function's output is: (2^2 + 5 * 3) modulo 20 = (4 + 15) modulo 20 = 19 modulo 20 = 19. 


If x1 = 3, x2 = 5, x3 = 3, then...

The function's output is: (3^2 + 5 * 3) modulo 20 = (9 + 15) modulo 20 = 24 modulo 20 = 4. 

In this case, since 19 > 4, the combination of (X1 = 2, X2 = 5, X3 = 3) gives a *greater* output value than the combination of (X1 = 3, X2 = 5, X3 = 3).

#### Example:

- Array X1: [2, 4]
- Array X2: [1, 2, 3]
- Array x3: [5, 6]

How many combinations do we have? 
1. X1 = 2, X2 = 1, X3 = 5. Output = (2^2 + 1 * 5) modulo 20 = 9 modulo 20 = 9. 
2. X1 = 2, X2 = 1, X3 = 6. Output = 10
3. X1 = 2, X2 = 2, X3 = 5. Output = 14
4. X1 = 2, X2 = 2, X3 = 6. Output = 16
5. X1 = 2, X2 = 3, X3 = 5. Output = 19
6. X1 = 2, X2 = 3, X3 = 6. Output = (2^2 + 3 * 6) modulo 20 = 22 modulo 20 = 2
7. X1 = 4, X2 = 1, X3 = 5. Output = 1
8. X1 = 4, X2 = 1, X3 = 6. Output = 2
9. X1 = 4, X2 = 2, X3 = 5. Output = 6
10. X1 = 4, X2 = 2, X3 = 6. Output = 8
11. X1 = 4, X2 = 3, X3 = 5. Output = 11
12. X1 = 4, X2 = 3, X3 = 6. Output = 14

Out of these 12 combinations, what is the maximum output of our function?

The maximum output is 19, achieved with X1 = 2, X2 = 3, X3 = 5. 

Answer : 19

(No need to specify the values of X1, X2, X3).

In [ ]:
x1 = [2,1]
x2 = [11,4]
x3 = [10,32,33]
def maximum(x1, x2, x3):
    b = []
    for i in x1: 
      for j in x2:
        for k in x3:
          b.append([i,j,k])
    c=[]
    for x in b:
      d = (x[0]**2 + x[1]*x[2]) % 20
      print("combination array: ",str(x), "output: ", str(d))
      c.append(d)   
    return c,max(c)

maximum(x1,x2,x3)

combination array:  [2, 11, 10] output:  14
combination array:  [2, 11, 32] output:  16
combination array:  [2, 11, 33] output:  7
combination array:  [2, 4, 10] output:  4
combination array:  [2, 4, 32] output:  12
combination array:  [2, 4, 33] output:  16
combination array:  [1, 11, 10] output:  11
combination array:  [1, 11, 32] output:  13
combination array:  [1, 11, 33] output:  4
combination array:  [1, 4, 10] output:  1
combination array:  [1, 4, 32] output:  9
combination array:  [1, 4, 33] output:  13

([14, 16, 7, 4, 12, 16, 11, 13, 4, 1, 9, 13], 16)

# Finding The Position in Repeating Series

We want to know what's the value of the number in the position of p. The first number in the series is the first position.

Your function will be called ```position``` and it has 3 inputs.

This problem has 3 inputs:
- The first input, (n), is the maximum number in our series
- The second input, (r), is how many times our series will be repeated
- The third input, (p), is the position of the desired output.

Here are a few examples:

- If n = 3, and r = 1, then our series will be: 1,2,3,2,1

- If n = 4, and r = 1, then our series will be: 1,2,3,4,3,2,1

- If n = 3, and r = 2, then our series will be: 1,2,3,2,1,2,3,2,1

- If n = 4, and r = 2, then our series will be: 1,2,3,4,3,2,1,2,3,4,3,2,1

- If n = 5, and r = 3, then our series will be: 1,2,3,4,5,4,3,2,1,2,3,4,5,4,3,2,1,2,3,4,5,4,3,2,1
 
#### Example 1

n = 3, r = 1, p = 4

The series is : 1, 2, 3, 2, 1

The 4th number of the series = suku ke - 4 dari barisan tersebut = 2.

Answer = 2.

#### Example 2

n = 3, r = 2, p = 7

The series is : 1, 2, 3, 2, 1, 2, 3, 2, 1

The 7th number of the series = suku ke - 7 dari barisan tersebut = 3.

Answer = 3.

#### Example 3

n = 4, r = 2, p = 7

The series is : 1, 2, 3, 4, 3, 2, 1, 2, 3, 4, 3, 2, 1

The 7th number of the series = suku ke - 7 dari barisan tersebut = 1.

Answer = 1.

In [ ]:
lst = []
def position(n, r, p):
    a = 1
    it = 0
    state = 'up'
    while it != r :
        if state == 'up' : 
            lst.append(a)
            a += 1
            if a == n : 
                state = 'down'
        elif state == 'down' : 
            lst.append(a)
            a -= 1
            if a == 1 : 
                state = 'up'
                it +=1
   
    return lst,lst[p-1]

position(3,2,7)

([1, 2, 3, 2, 1, 2, 3, 2], 3)